.booking {
  background-image: url("../img/early-booking-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $background-medium-blue;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/early-booking-back-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $background-medium-blue;
  }

  @include tablet {
    background-image: url("../img/early-booking-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/early-booking-back-tablet@2x.jpg");
    }
  }

  @include mobile {
    background-image: url("../img/early-booking-back-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/early-booking-back-mobile@2x.jpg");
    }
  }
}

.booking__container {
  margin: 0 auto;
  padding: 50px 60px;

  width: calc(100% - 206px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  @include tablet {
    padding: 98px 0 100px;

    width: calc(100% - 348px);

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mobile {
    padding: 65px 0;

    width: calc(100% - 30px);
  }
}

.booking__info {
  margin-top: -8px;
  margin-right: 2%;

  text-align: left;

  width: 493px;

  @include tablet {
    margin-bottom: 50px;
    margin-right: 0;

    width: 100%;

    text-align: center;
  }

  @include mobile {
    margin-bottom: 35px;
    margin-right: 0;
  }
}

.booking__info h2 {
  @include reset;

  margin-bottom: 5px;

  font-weight: bold;
  font-size: 40px;
  line-height: 150%;

  @include tablet {
    font-size: 34px;
  }

  @include mobile {
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 130%;
  }
}

.booking__info p {
  @include reset;

  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 150%;

  @include tablet {
    margin: 0 auto;
    width: 90%;
    justify-content: center;
  }

  @include mobile {
    margin: 0 auto;
    width: 257px;

    display: block;

    font-size: 16px;
    line-height: 140%;
  }
}

.booking__form {
  padding: 44px 50px 52px;

  width: 303px;

  display: flex;
  flex-wrap: wrap;

  background-color: $blue;

  @include tablet {
    padding: 45px 50px 50px;
  }

  @include mobile {
    margin: 0 auto;
    padding: 35px 30px 40px;
    width: 80%;
  }
}

.booking__form p {
  @include reset;

  margin-bottom: 25px;

  width: 303px;

  color: $white;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include tablet {
    margin-bottom: 26px;
  }

  @include mobile {
    margin-bottom: 28px;

    text-align: center;
    line-height: 140%;
  }
}

.booking__form label {
  width: 100%;

  cursor: pointer;
}

.booking__form input {
  padding: 13.5px 14px;
  margin-bottom: 18px;

  width: 100%;

  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 0;
  border: none;

  color: $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 2px solid lightseagreen;
  }

  @include mobile {
    margin-bottom: 20px;
    padding: 12px 14px;
  }
}

.booking__checkbox {
  display: flex;

  width: 100%;

  font-size: 10px;
  line-height: 130%;

  color: $white;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.booking__checkbox input {
  margin-bottom: 0;
  width: 18px;

  @include mobile {
    width: 20px;
    height: 20px;
  }
}

.booking__tick-field {
  margin-right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  background-color: $white;

  @include mobile {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
}

.booking__checkbox-text {
  @include mobile {
    width: 95%;
  }
}

.booking__checkbox svg {
  fill: $white;
}

.booking__checkbox input:not(:checked) + .booking__tick-field svg {
  display: none;
}

.booking__checkbox input:checked + .booking__tick-field svg {
  display: block;
}

.booking__checkbox input:hover + .booking__tick-field,
.booking__checkbox input:focus + .booking__tick-field {
  outline: 2px solid lightseagreen;
}

.booking__button {
  padding: 10px;
  margin-top: 32px;

  width: 100%;

  background-color: $white;
  text-align: center;
  color: $blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
  border: none;

  &:hover {
    color: rgba($blue, 0.7);
    background-color: $grey;
  }

  &:focus,
  &:active {
    color: rgba($blue, 0.3);
    background-color: rgba($grey, 0.5);
  }

  @include mobile {
    margin-top: 27px;

    width: 100%;
  }
}
