.features {
  background-image: url("../img/features-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $background-light-blue;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/features-back-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $background-light-blue;
  }

  @include tablet {
    background-image: url("../img/features-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/features-back-tablet@2x.jpg");
    }
  }

  @include mobile {
    background-image: url("../img/features-back-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/features-back-mobile@2x.jpg");
    }
  }
}

.features__container {
  margin: 0 auto;
  padding: 110px 0 120px;

  width: calc(100% - 206px);

  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 100px 0;

    width: calc(100% - 90px);
  }

  @include mobile {
    padding: 55px 0 65px;

    width: calc(100% - 30px);
  }
}

.features h2 {
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 35px;
  }
}

.features__list {
  @include list-reset;

  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
  }
}

.features__item {
  margin-top: 20px;
  padding: 30px 2.5% 25px;
  width: 31%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: $white;

  h3 {
    @include reset;

    margin-bottom: 10px;

    width: 100%;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }

  p {
    @include reset;

    width: 100%;

    font-size: 14px;
    line-height: 20px;
  }

  span {
    display: block;
  }

  @include tablet {
    padding: 25px 2% 20px 2.7%;

    width: 30%;

    span {
      display: inline;
    }
  }

  @include mobile {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 25px 7% 20px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 8px;

      width: 70%;
    }

    span {
      display: block;
    }
  }
}

.features__icon {
  padding-bottom: 20px;

  height: 32px;

  @include tablet {
    height: 26px;
  }

  @include tablet {
    height: 26px;
  }
}
